 /*Responsividade home*/
 @media screen and (min-width: 200px) and (max-width: 600px) {

    ol {
        grid-template-columns: 1fr;
        margin-right: 5.6vw;
    }

    #home {
        padding: 2%;  
    }

    #search {
        width: 6vw;
    }

    b {
        font-size: 22px;
        padding-right: 10%;
    }

    p {
        text-align: center;
        padding: 10px 5px 10px;
        margin-right: 4.3vw;
    }

    #videohome {
        width: 75vw;
        padding-top: 5vh;        
     }

     footer {
        height: 8vh;
    }

    .logosocial{
        width: 8vw;
        padding: 3% 2%;
    }
}

 /*Responsividade página video*/
@media screen and (min-width: 200px) and (max-width: 600px) {

    #pagvideo {
         height: 40vh;
         padding-top: 20vh;
    }

    #video {
        width: 95%;
        height: 100%;
        margin-top: 4vh;    
    }

    #back {
        padding: 5px 20px;
    }

}